web/WEB-INF/wsdl/localhost_8080/sisepec/InfoProgramasService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1 (branches/2.1-6728; 2011-02-03T14:14:58+0000) JAXWS-RI/2.2.3 JAXWS/2.2. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1 (branches/2.1-6728; 2011-02-03T14:14:58+0000) JAXWS-RI/2.2.3 JAXWS/2.2. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://EPEC_Interop/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://EPEC_Interop/" name="InfoProgramasService">
<types>
<xsd:schema>
<xsd:import namespace="http://EPEC_Interop/" schemaLocation="http://localhost:8080/sisepec/InfoProgramasService?xsd=1" />
</xsd:schema>
</types>
<message name="obtenerDictadosMateriaxDocente">
<part name="parameters" element="tns:obtenerDictadosMateriaxDocente" />
</message>
<message name="obtenerDictadosMateriaxDocenteResponse">
<part name="parameters" element="tns:obtenerDictadosMateriaxDocenteResponse" />
</message>
<message name="obtenerEstudiantesxDictado">
<part name="parameters" element="tns:obtenerEstudiantesxDictado" />
</message>
<message name="obtenerEstudiantesxDictadoResponse">
<part name="parameters" element="tns:obtenerEstudiantesxDictadoResponse" />
</message>
<message name="obtenerEstudiantesxProgramaVersion">
<part name="parameters" element="tns:obtenerEstudiantesxProgramaVersion" />
</message>
<message name="obtenerEstudiantesxProgramaVersionResponse">
<part name="parameters" element="tns:obtenerEstudiantesxProgramaVersionResponse" />
</message>
<message name="obtenerDictadoMateriasxProgramaVersion">
<part name="parameters" element="tns:obtenerDictadoMateriasxProgramaVersion" />
</message>
<message name="obtenerDictadoMateriasxProgramaVersionResponse">
<part name="parameters" element="tns:obtenerDictadoMateriasxProgramaVersionResponse" />
</message>
<message name="obtenerDocentesxProgramaVersion">
<part name="parameters" element="tns:obtenerDocentesxProgramaVersion" />
</message>
<message name="obtenerDocentesxProgramaVersionResponse">
<part name="parameters" element="tns:obtenerDocentesxProgramaVersionResponse" />
</message>
<portType name="InfoProgramas">
<operation name="obtenerDictadosMateriaxDocente">
<input wsam:Action="http://EPEC_Interop/InfoProgramas/obtenerDictadosMateriaxDocenteRequest" message="tns:obtenerDictadosMateriaxDocente" />
<output wsam:Action="http://EPEC_Interop/InfoProgramas/obtenerDictadosMateriaxDocenteResponse" message="tns:obtenerDictadosMateriaxDocenteResponse" />
</operation>
<operation name="obtenerEstudiantesxDictado">
<input wsam:Action="http://EPEC_Interop/InfoProgramas/obtenerEstudiantesxDictadoRequest" message="tns:obtenerEstudiantesxDictado" />
<output wsam:Action="http://EPEC_Interop/InfoProgramas/obtenerEstudiantesxDictadoResponse" message="tns:obtenerEstudiantesxDictadoResponse" />
</operation>
<operation name="obtenerEstudiantesxProgramaVersion">
<input wsam:Action="http://EPEC_Interop/InfoProgramas/obtenerEstudiantesxProgramaVersionRequest" message="tns:obtenerEstudiantesxProgramaVersion" />
<output wsam:Action="http://EPEC_Interop/InfoProgramas/obtenerEstudiantesxProgramaVersionResponse" message="tns:obtenerEstudiantesxProgramaVersionResponse" />
</operation>
<operation name="obtenerDictadoMateriasxProgramaVersion">
<input wsam:Action="http://EPEC_Interop/InfoProgramas/obtenerDictadoMateriasxProgramaVersionRequest" message="tns:obtenerDictadoMateriasxProgramaVersion" />
<output wsam:Action="http://EPEC_Interop/InfoProgramas/obtenerDictadoMateriasxProgramaVersionResponse" message="tns:obtenerDictadoMateriasxProgramaVersionResponse" />
</operation>
<operation name="obtenerDocentesxProgramaVersion">
<input wsam:Action="http://EPEC_Interop/InfoProgramas/obtenerDocentesxProgramaVersionRequest" message="tns:obtenerDocentesxProgramaVersion" />
<output wsam:Action="http://EPEC_Interop/InfoProgramas/obtenerDocentesxProgramaVersionResponse" message="tns:obtenerDocentesxProgramaVersionResponse" />
</operation>
</portType>
<binding name="InfoProgramasPortBinding" type="tns:InfoProgramas">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="obtenerDictadosMateriaxDocente">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="obtenerEstudiantesxDictado">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="obtenerEstudiantesxProgramaVersion">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="obtenerDictadoMateriasxProgramaVersion">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="obtenerDocentesxProgramaVersion">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="InfoProgramasService">
<port name="InfoProgramasPort" binding="tns:InfoProgramasPortBinding">
<soap:address location="http://localhost:8080/sisepec/InfoProgramasService" />
</port>
</service>
</definitions>